[user]
    name = {{ git_user }}
    email = {{ git_email }}
[core]
    editor = {{ editor }}
[color]
    ui = auto
[color "status"]
    added = green
    changed = yellow
    untracked = normal
[github]
    user = mookle
[alias]
    prune = fetch --prune
[merge]
    ff = only
[pull]
    rebase = false
[push]
    followTags = true
[status]
    statusUntrackedFiles = all
