[user]
    name = {{ git_user }}
    email = {{ git_email }}
[core]
    editor = {{ editor }}
    fileMode = false
[color]
    ui = auto
[color "status"]
    added = green
    changed = yellow
    untracked = normal
[github]
    user = {{ git_user }}
[alias]
    prune = fetch --prune
[merge]
    ff = only
[pull]
    rebase = false
[push]
    followTags = true
    autoSetupRemote = true
[status]
    statusUntrackedFiles = all
[init]
    defaultBranch = main